table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

th.mat-sort-header-sorted {
  color: black;
}
.formies {
  display: flex;
  flex-direction: column;
}

.formies > * {
  width: 100%;
}
